<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,.8);display:none;z-index:10000; }
	#mc_embed_signup form{position:fixed; top:10%; left:50%; width:40%; margin-left:-25%; font:normal 100% Helvetica,Arial,sans-serif; font-size:14px; border-radius:4px; border:none; padding:10px 20px; background-color:#fff; color:#000; text-align:left;max-height:400px;overflow-y:auto;overflow-x:hidden;}
	#mc_embed_signup a.mc_embed_close{background:transparent url(http://downloads.mailchimp.com/img/closebox.png) no-repeat; display:block; height:30px; width:30px; text-indent:-999em; position:absolute; top:-10px; right:-10px; display:none; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

#mc_embed_signup {
  background-color: rgba(0,0,0,0.8);
  border-bottom: 3px solid #6c6c6c;
  color: #fff;
  padding: 20px 15px;
}
  #mc_embed_signup input {
    border: 1px solid #585858;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 2px #5a5a5a;
    -moz-box-shadow: 0 2px 2px #5a5a5a;
    -webkit-box-shadow: 0 2px 2px #5a5a5a
  }
    #mc_embed_signup input.email { background: #fff url(/images/email2.png) no-repeat 95% center; width: 100%; }
    
    #mc_embed_signup input[type="submit"] {
      background: #f6640e url(/images/orange.png) repeat-x top;
      border: 1px solid #a44913;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%
    }
      #mc_embed_signup input[type="submit"]:hover { color: #ffdeb3 }

      .benefits_newsletter {list-style-image:url('/images/check.png')}
      .benefits_newsletter li {font-size: 115%; height: 35px;}



</style>
<div id="mc_embed_signup">
<form action="//sirris.us2.list-manage.com/subscribe/post?u=b8ac525f48e3c47dfefe339fb&amp;id=a6c15e5b4f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
<h2>Hey, seems you like our stuff...</h2>
     <div>
     	<p>So be sure to sign up for the Nebucom newsletter! It's geared towards SaaS entrepreneurs who want: <br>
<ul class="benefits_newsletter">
<li>Great articles on growing and scaling their SaaS business.</li>
<li>Inspiration on how to scale up channels and operations.</li>
<li>An overview of our hands-on bootcamps and events.</li>
<li>Priority access to the tools we are building for SaaS entrepreneurs!</li>
</ul>
</p>
</div>

	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="yourname@example.com">

<a href="#" id="mc_embed_close" class="mc_embed_close">Close</a>	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b8ac525f48e3c47dfefe339fb_a6c15e5b4f" tabindex="-1" value=""></div>
    <input type="submit" value="Keep me informed" name="subscribe" id="mc-embedded-subscribe" class="button">	
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
(function($) {
window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
window.mc.showPopup = true;window.mc.delayPopup = 15*1000;if (mc.showPopup) mc.evalPopup();
}(jQuery));
var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->